.login{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .container {
    padding: 15px 15px;
}

.bg-greylog {
    background: #FF7300;
}

.bg-dark{
    background-color: #000 !important;
}
.hght{
    height: 370px;
}
.login-det {
    border-top-right-radius: 90px;
    border-bottom-right-radius: 14px;
}

.login-det-in {
    height: calc(100dvh - 30px);
}

.focus-none {
    box-shadow: none;
    outline: none;
}

.newblue {
    color: #242021;
}

.my-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.radius{
    border-radius:0px 92px;
}

.font-12{
    font-size: 12px;
}

.img-social{
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 60px;
}

.login-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-logo{
    max-width: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay1{
    position: absolute;
    background: linear-gradient(to right, rgb(0,0,0,0.4), rgb(84,84,84, 0.4));
    top: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-left-radius: 92px;
}

/* ================login end=========== */

/* background colors=============== */
.orng-bg{
    background-color: #83ccf2 !important;;
}

.light-orng{
    background-color: #FFE7D4;
}

.btn-bg{
    background: #83ccf2 !important;
}

.pink-bg{
    background-color: #FFF7F0;
}

.pink2-bg{
    background-color: #FFD9BA;
}

.grey-btn{
    background-color: #F0F0F0;
}

.bg-grey{
    background-color: #F8F8F8;
}

.e-grey{
    background-color: #E7E7E7;
}

.blue-bg{
    background-color: #B9C9FF;
}

.cyan-bg{
    background-color: #BCEBFE;
}

.blue2-bg{
    background-color: #3780FD;
}

.yellow-bg{
    background-color: #F3E300;
}

.red-bg{
    background-color: #D50202;
}

.pr-light-bg{
    background-color: #F4C7FF;
}

.purple-bg{
    background-color: #CCD5F8;
}

.light-gray{
    background-color: #E9E9E9;
}

.dark-pink{
    background-color: #F28CAE;
}

.parrot-bg{
    background-color: #9DEA97;
}

.skin-bg{
    background-color: #FEECBC;
}

.f5-bg{
    background-color: #F5F5F5;
}
/* Color=============== */
.orng-clr{
    color: #83ccf2 !important;;
}

/* ==========side and nav bar ========= */
.main-side{
    display: flex;
    height: 100dvh;
}

.navbar-main{
    width: calc(100% - 230px);
}

.sidebar-main{
    max-width: 230px;
    width: 100%;
    background-color: #FFF7F0;
    padding: 0 5px;
    height: 100dvh !important;
}

.main-flow{
    height: 100dvh;
}

.list-over {
    height: calc(100dvh - 360px);
    overflow-y: auto;
    padding-right: 4px;
}

.list-over::-webkit-scrollbar,
.list-over::-webkit-scrollbar {
    width: 5px;
}

.list-over::-webkit-scrollbar-track,
.list-over::-webkit-scrollbar-track {
    background: #FF7300;
    border: 1px solid #FF7300;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-over::-webkit-scrollbar-thumb,
.list-over::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #FF7300;
}
.main-flow::-webkit-scrollbar {
    width: 6px;
}

.x-mark{
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 22px;
    display: none;
    cursor: pointer;
}

.nav-on{
   display: none;
   cursor: pointer;
   font-size: 30px;
}

.dashboard-style{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 9px 9px;
    display: block;
    /* white-space: nowrap; */
    margin-top: 9px;
    border: 0px solid transparent;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.dashboard-style:hover{
    background: #83ccf2 !important;
    border-radius: 10px;
}

.dashboard-style img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 4px;
}

.dashboard-style.active{
    background: #83ccf2 !important;
    border-radius: 10px;
}



.side-shadow{
    box-shadow: rgba(0, 0, 0, 0.18) 4px 0 4px;
    position: relative;
    z-index: 3;
}

.user-img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-2{
    max-width: 60px;
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.border-orng{
    border-bottom: 1px solid #83ccf2 !important;;
}

.border-orng2{
    border: 2px solid #83ccf2 !important;;
}

.area-height{
    height: calc(100dvh - 85px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 0px;
}

.area-height::-webkit-scrollbar,
.area-height::-webkit-scrollbar {
    width: 5px;
}

.area-height::-webkit-scrollbar-track,
.area-height::-webkit-scrollbar-track {
    background: #FF7300;
    border: 1px solid #FF7300;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.area-height::-webkit-scrollbar-thumb,
.area-height::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #FF7300;
}

.border-input{
    border: 1px solid #FFD9BA;
    background-color: #FAFAFA;
}
.my-input{
    border: 2px solid #EBEBEB;
    background-color: #F0F0F0;
    padding: 10px 6px;
    border-radius: 10px;
    width: 100%;
    outline: none;
}
.main-table .table{
    border-spacing: 0px 10px;
    border-collapse: separate;
    padding: 4px;
}

.main-table .table tr th{
    background-color: white;
    padding: 12px;
    text-align: center;
}

.main-table .table thead{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-table .table thead{
    border-radius: 10px;
    
}

.main-table .table thead tr th:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.main-table .table thead tr th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.main-table .table tr td{
    text-wrap: nowrap;
    padding: 12px;
    text-align: center;
}

.max{
    width: max-content;
}

.main-3 .table tr td{
    background-color: #F5F5F5;
    
}

.main-3 .table tr{
    border: 5px solid #fff;
}

.main-3 .table tr td:first-child{
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px
}

.main-3 .table tr td:last-child{
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}


.e-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

.kfc-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.line{
    position: relative;
}

.line::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    background-color: #ccc;
    top: 50%;
    transform: translatey(-50%);
    right: 0px
}

.label-style{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    padding: 8px;
    border-radius: 15px;
    background-color: #EDEDED;
}

.main-tabs .nav-link.active {
    background-color: #fff !important;
    color: #83ccf2 !important;;
    border-bottom: 5px solid #FF7300;
    border-radius: 0px;
    font-weight: 700 !important;
}
.main-tabs .nav-link{
    color: #83ccf2 !important;;
    border-radius: 0px !important;
    border-bottom: 5px solid #FFD9BA;
    min-width: 110px
}

.main-tbb .nav-link.active {
    color: #FFF !important;
    background-color: #83ccf2 !important;;
    border-radius: 5px !important;
}
.main-tbb .nav-link{
    color: #83ccf2 !important;;
    border-radius: 0px !important;
    font-size: 12px;
}
.main-tbb{
    border: 1px solid #FF7300;
    border-radius: 6px;
}
.v-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    border-radius: 16px;
}

.play-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.position-video{
    position: relative;
}

.text-over{
    position: absolute;
    bottom: 5px;
    left: 9px;
}

.main-tb .nav-link.active {
    border-radius: 0; 
    background-color: #83ccf2 !important;;
    text-align: start;
    color: #000;
    font-weight: 600;
}
.main-tb .nav-link.active:first-child{
    border-top-right-radius: 12px;
}
.main-tb .nav-link{
    border-radius: 0; 
    text-align: start;
    color: #000;
}
.min-he{
    height: calc(100vh - 150px);
    max-width: 180px;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow-y: auto;
}
.min-he2{
    height: calc(100vh - 150px);
    overflow-y: auto;
}
.radius-style{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.width-tickets{
    width: calc(20% - 12px);
    margin: 0 6px;
}

.main-table2 .table thead tr th{
    background-color: white !important;;
    text-align: center;
}

.main-table2 .table thead tr th:first-child{
    border-top-left-radius: 13px
}

.main-table2 .table thead tr th:last-child{
    border-top-right-radius: 13px
}

.main-table2 .table tbody tr td{
    background-color: white;
    text-wrap: nowrap;
    text-align: center;
    padding: 12px;
}

.main-table2 .table tbody tr{
    border: 5px solid #fff
}



.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.org-width {
    width: calc(20% - 12px);
    margin: 0 6px;
}

.chat-det p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-person {
    width: 400px;
    margin-right: 10px;
}


.chat-open-person {
    max-width: 50px;
    margin-right: 10px;
}

.receive {
    width: 50%;
}

.send {
    width: 50%;
    margin-left: 50%;
}

.chat-right {
    height: calc(100dvh - 225px);
}

.chat-left-inner {
    height: calc(100dvh - 238px);
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-right-inner {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.chat-left-inner::-webkit-scrollbar,
.chat-right-inner::-webkit-scrollbar {
    width: 5px;
}

.chat-left-inner::-webkit-scrollbar-track,
.chat-right-inner::-webkit-scrollbar-track {
    background: #FF7300;
    border: 1px solid #FF7300;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.chat-left-inner::-webkit-scrollbar-thumb,
.chat-right-inner::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #FF7300;
}

.active-chat {
    background-color: #FFE7D4;
}

.profile-tm {
    min-width: 220px;
}

.card-img-width {
    max-width: 120px;
}

.pointer{
    cursor: pointer;
}

.w-td{
    width: 300px;
}

.input-width{
    width: calc(16.66% - 8px);
    margin: 4px 4px;
}

.anchor-width{
    width: calc(25% - 8px);
    margin: 4px 4px;
}

.anchor-width2{
    width: calc(33.33% - 8px);
    margin: 4px 4px;
}

.input-width label {
    font-size: 13px;
}

.chats-msg{
    height: calc(100dvh - 166px);
}

.head-scroll{
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.head-scroll::-webkit-scrollbar,
.head-scroll::-webkit-scrollbar {
    width: 5px;
}

.head-scroll::-webkit-scrollbar-track,
.head-scroll::-webkit-scrollbar-track {
    background: #FF7300;
    border: 1px solid #FF7300;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.head-scroll::-webkit-scrollbar-thumb,
.head-scroll::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #FF7300;
}

input[type=checkbox]{
    accent-color: #000;
}

.popup-radius {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

.pop-scroll{
    height: calc(100dvh - 204px);
    overflow-y: auto;
}

.pop-scroll::-webkit-scrollbar,
.pop-scroll::-webkit-scrollbar {
    width: 5px;
}

.pop-scroll::-webkit-scrollbar-track,
.pop-scroll::-webkit-scrollbar-track {
    background: #FF7300;
    border: 1px solid #FF7300;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pop-scroll::-webkit-scrollbar-thumb,
.pop-scroll::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #FF7300;
}

.mapp-img{
    height: 100%;
    width: 100%;
    max-width: 40px;
    object-fit: cover;
}

.or-img{
    height: 100%;
    width: 100%;
    max-width: 60px;
    object-fit: cover;
}

.dash-width{
    width: calc(20% - 12px);
    margin: 6px 6px;
}

.dash-width p{
    font-size: 12px;
}
#togglePassword{
    cursor: pointer;
}
.group-img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    object-fit: cover;
}
.position-pop{
    position: absolute;
    top: -14px;
    right: 46px;
}

.position-pop i{
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    min-height: 34px;
    height: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #444;
    line-height: 28px;
}

.select2-container--default .select2-selection--multiple .select2-selection_choice_remove {
    margin-right: 5px;
}
.select2-container--open {
    z-index: 2000 !important; /* 1050 is the default z-index of modal-backdrop */
}

textarea{
    resize: none;
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 50% 100%),
      conic-gradient(#FF7300 50%, #FFE7D4 0);    
}
  
.progress-bar::before {
    content: "50%";
    font-size: 12px;
    color: #FF7300;
}
.success-img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    margin-top: 23px;
    object-fit: cover;
}
.auth-input{
    width: 100%;
    border: 2px solid #CBCBCB;
    background-color: #F0F0F0;
    padding: 9px;
    border-radius: 9px;
    text-align: center;
    outline: none;
}

.border-line{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #707070;
    top: 50%;
    transform: translatey(-50%);
}

.input-width-2{
    width: calc(14.2% - 8px);
    margin: 0 4px;
}

.check-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.load{
    border: 2px dashed #DFDFDF;
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 15px;
    font-weight: 600;
}

.load-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 14px;
    max-height: 115px;
    margin-top: 18px;
}

.img-col{
    width: calc(33.33% - 8px);
    margin: 0 4px;
}

.img-fire{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 50px
}

.border-g{
    border-bottom: 2px solid #333333;
}

.my-input1{
    border: 2px solid #000;
    background-color: #fff;
    padding: 10px 6px;
    border-radius: 10px;
    width: 100%;
    outline: none;
}
.my-input2{
    padding: 11px 6px;
    color: #fff;
    font-size: 25px;
    width: 100%;
    outline: none;
}
.upload-c {
    border: 1px dashed #D0D0D0
}
.grey-input {
    background: #F0F0F0;
    border: 1px solid #D0D0D0;
    resize: none;
}
.grey-input:focus {
    box-shadow: none;
    outline: none;
}
.compaign-checkbox .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .compaign-checkbox .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .compaign-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #F0F0F0;
    border: 1px solid #D0D0D0;
      border-radius: 4px;
  
  }
  
  .compaign-checkbox .container:hover input ~ .checkmark {
    background-color: #F0F0F0;
  }
  
  .compaign-checkbox .container input:checked ~ .checkmark {
    background-color: #F0F0F0;
  }
  
  .compaign-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .compaign-checkbox .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .compaign-checkbox .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #686262;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* ===========
Media Query
============ */
@media screen and (min-width:1201px) {
    .chats,
    .chats-msg {
        display: block !important;
    }

    .chat-person {
        max-width: 64px;
        width: 100%;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1200px){
    .width-tickets {
        width: calc(25% - 12px);
        margin: 0 6px;
    }
    .input-width {
        width: calc(20% - 8px);
        margin: 4px 4px;
    }
    .org-width {
        width: calc(25% - 12px);
        margin: 6px 6px;
    }
    .receive {
        width: 70%;
    }

    .send {
        width: 70%;
        margin-left: 30%;
    }

    .chat-person {
        max-width: 64px;
        width: 100%;
        margin-right: 10px;
    }

    .chats-msg {
        display: none;
    }

    .dash-width {
        width: calc(25% - 12px);
        margin: 6px 6px;
    }
}
@media screen and (max-width: 992px){
    .width-tickets {
        width: calc(33.33% - 12px);
        margin: 0 6px;
    }
    .input-width {
        width: calc(25% - 8px);
        margin: 4px 4px;
    }

    .input-width label{
        font-size: 13px;
    }
    .org-width {
        width: calc(33.33% - 12px);
        margin: 6px 6px;
    }
    .receive {
        width: 100%;
    }
    .send {
        width: 100%;
        margin-left: 0%;
    }
    .chat-person {
        max-width: 64px;
        width: 100%;
        margin-right: 10px;
    }
    .dash-width {
        width: calc(33.33% - 12px);
        margin: 6px 6px;
    }
}
@media screen and (max-width: 769px){
    .x-mark{
        display: block !important;
    }
    .sidebar-main{
        display: none;
        position: absolute;
        z-index: 3;
    }
    .navbar-main{
        width: calc(100% - 0px);
    }
    .nav-on{
        display: block;
    }
    .main-btns a{
        font-size: 13px;
    }
}

@media screen and (min-width: 770px){
    .sidebar-main{
        display: block !important;
    }
}

@media screen and (max-width: 577px) {
    .main-tb .nav-link{
        font-size: 12px;
    }
    .min-he{
        max-width: 130px;
    }
    .main-tb{
        flex-direction: column;
    }
    .min-he{
        height: 100%;
        max-width: none;
    }
    .width-tickets {
        width: calc(50% - 12px);
        margin: 0 6px;
    }
    .kfc-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }
    .org-width {
        width: calc(50% - 12px);
        margin: 6px 6px;
    }
    .input-width {
        width: calc(33.33% - 8px);
        margin: 4px 4px;
    }
    .input-width label {
        font-size: 12px;
    }
    .fn-nav{
        font-size: 15px;
    }
    .dash-width {
        width: calc(50% - 12px);
        margin: 6px 6px;
    }
    .min-he2 {
        height: calc(100vh - 333px);
        overflow-y: auto;
    }
    .head-scroll {
        height: calc(100vh - 438px);
        overflow-y: auto;
    }
}
@media screen and (max-width: 480px){
    .input-width {
        width: calc(50% - 8px);
        margin: 4px 4px;
    }
    .anchor-width {
        width: calc(33.33% - 8px);
        margin: 4px 4px;
    }
    .dash-width {
        width: calc(100% - 0px);
    }
    .img-col {
        width: calc(50% - 8px);
    }
}
@media screen and (max-width: 420px){
    .logo-2 {
        max-width: 43px;
    }
    .main-btns a{
        font-size: 11px;
    }
    .width-tickets {
        width: calc(100% - 0px);
        margin: 0 0px;
    }
    .org-width {
        width: calc(100% - 0px);
        margin: 6px 0px;
    }
    .input-width {
        width: calc(50% - 8px);
        margin: 4px 4px;
    }
}

@media screen and (max-width: 380px){
    .input-width {
        width: calc(100% - 0px);
        margin: 4px 0px;
    }
    .anchor-width {
        width: calc(50% - 8px);
        margin: 4px 4px;
    }
    .head-scroll {
        height: calc(100vh - 460px);
        overflow-y: auto;
    }
}


.main-flow{
    height: 100dvh;
}

.main-1{
    height: calc(100dvh - 86px);
    margin: 6px 0px;
}

.main-2{
    max-height: 86px;
    margin: 0px 0px;
}

.side-1{
    min-height: 214px;
    margin: 0px 0;
}

.side-2{
    height: calc(100% - 214px);
    margin: 6px 0;
}




@font-face {
    font-family: 'rubik';
    src: url('../font/rubik-black-webfont.woff2') format('woff2'), url('..font/rubik-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../font/rubik-light-webfont.woff2') format('woff2'), url('..font/rubik-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../font/rubik-medium-webfont.woff2') format('woff2'), url('../font/rubik-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../font/rubik-regular-webfont.woff2') format('woff2'), url('../font/rubik-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* ****************** Ashir Ali CSS Start ****************** */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'rubik';
}

.ff-rubik {
    font-family: 'rubik';
}

.fs_small {
    font-size: 12px;
}

.fs_normal {
    font-size: 14px;
}


/********************** Navbar CSS Strat**********************/

.img-pro {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.img-logo {
    max-width: 112px;
}


.gray-bg {
    background-color: #636C79;
}


.red-pos {
    position: absolute;
    background-color: red;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: none;
    top: 27px;
    right: 236px;
}


/********************** Navbar CSS End**********************/
/********************** Notification Model CSS Start**********************/
.notification_model{
    left: 26%;
    top: 14%;
    width: 32%;
}
.notification_modelicon{
    color: #18191b;
}
.notification_modelicon:hover{
    color: #FF1A00;
}
.notification_modelimage{
    width: 20%;
}

/********************** Notification Model CSS End**********************/

/********************** Sidebar CSS Start**********************/

.sidebar {
    max-width: 200px;
    width: 100%;
    position: absolute;
    height: 83vh;
    z-index: 99;
}

.active {
    background-color: #FA7F71;
    border-radius: .7rem;
}
.side_tab:hover{
    background-color: #FA7F71;
    border-radius: .7rem;
}
.side_tab:active{
    background-color: #FA7F71;
    border-radius: .7rem;
}

.list-unstyled {
    height: inherit;
}


.side-nav span {
    color: #fff;
}

.side-nav {
    overflow-y: auto;
    height: 74vh;
}

.close-icon img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.side-nav::-webkit-scrollbar {
    width: 8px !important;
}
.right-content {
    width: calc(100% - 200px);
    height: 88vh;
    overflow: auto;
    left: 200px;
}


/********************** Sidebar CSS End**********************/


/********************** Login Page CSS Strat**********************/

.loginbg {
    background-image: linear-gradient(to bottom left, #D0D3D4, #B4B4B438, #E76C6394);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.form_container {
    max-width: 1000px;
    margin: 20px auto 20px auto;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.login_icon {
    padding: 10px;
    background: #AFB7BE;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #AFB7BE;
}

.form-check-input:checked {
    background-color: #FA7F71;
    border-color: #FA7F71;
}


/* Set a style for the submit button */

.login_btn {
    background-color: #FA7F71;
    color: white;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
    width: 35%;
}

.login_btn:hover {
    opacity: .5;
}


/********************** Login Page CSS End**********************/
/********************** Sign Up Page CSS Start**********************/
.signup_icon {
    padding: 10px;
    background: #AFB7BE;
    color: white;
    min-width: 50px;
    text-align: center;
}
.input_type_file {
    height: 50px;
    width: 100%;
    border: 2px solid #c4c4c4;
    border-style: dashed;
    border-radius: 8px;
    max-width: 300px;
}

.input_type_file:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.icon_hover_style i {
    color: white;
}

.icon_hover_style i:hover {
    color: black;
}
.signup_imgbox{
    border-style: dashed;
    border-color: #C3C0CF;
    border-radius: 5px;
    border-width: 2px;
    /* border: 1px solid #C3C0CF; */
    background-color: #F9F9F9;
}
.signuploaded_image{
    height: 95px;
    width: 90px;
    border-style: dashed;
    border-color: #C3C0CF;
    border-radius: 5px;
    border-width: 2px;
}
.signup_btn {
    background-color: #FA7F71;
    color: white;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
    width: 35%;
}

.signup_btn:hover {
    opacity: .5;
}
/********************** Sign Up Page CSS End**********************/


/********************** Clients Page CSS Start**********************/
.custom_thead {
    width: 120%;
}



.clients_table_th_td {
    width: 8%;
}

.clients_table_tb_td {
    height: 5vh;
    width: 10%;
}

/********************** Clients Page CSS End**********************/


/* ========================================
|              Media Queries              |
==========================================*/


/* For Desktop View */

@media (max-width: 1200px) and (min-width: 780px) {
    .custom_thead {
        width: 170%;
    }

    .clients_table_th_td {
        width: 9%;
    }

    .clients_table_tb_td {
        width: 11%;
    }
    .notification_model{
        left: 17%;
        top: 15%;
        width: 40%;
    }
}


/* For Tablet View */

@media (max-width: 779px) and (min-width: 590px) {
    .sidebar {
        border-radius: 1.5rem;
    }

    .right-content {
        width: calc(100% - 0px);
        left: 0;
        position: static;
    }

    .side-nav {
        height: 67vh;
    }

    .custom_thead {
        width: 180%;
    }

    .clients_table_th_td {
        width: 9%;
    }

    .clients_table_tb_td {
        width: 11%;
    }
    .notification_model{
        left: 5%;
        top: 13%;
        width: 58%;
    }
}


/* For Mobile Portrait View */

@media (max-width: 589px) and (min-width: 315px) {
    .login_btn {
        width: 50%;
    }

    .red-pos {
        top: 67px;
        right: 227px;
    }

    .sidebar {
        border-radius: 1.5rem;
    }

    .side-nav {
        height: 67vh;
    }
    .right-content {
        width: calc(100% - 0px);
        left: 0;
        position: static;
    }

    .custom_thead {
        width: 420%;
    }

    .clients_table_th_td {
        width: 9%;
    }

    .clients_table_tb_td {
        width: 11%;
    }
    .notification_model{
        left: 0%;
        top: 30%;
        width: 100%;
    }
}


@media screen and (min-width:769px) {
    .sidebar {
        display: block !important;
        
    }

    .cross-icon,
    .togg-btn {
        display: none;
    }

    .sidebar {
        max-width: 200px;
    }

    .right-content {
        width: calc(100% - 200px);
        left: 200px;
    }
    .side-nav::-webkit-scrollbar {
        width: 8px !important;
    }
}



/*** Tahir Zarar CSS Start***/

.btn-bg{
    background-color: #FA7F71;
}
.bg-1{
    background-color: #FCF4F0;
}
.bg-2{
    background-color: #FCE8E3;
}
.bg-3{
    background-color: #D8EDFF;
}
.bg-4{
    background-color: black;
    border: none;
    border-radius: 15px;
}
.bg-5{
    background-color: #5397CC;
}
.bg-6{
    background-color: #EBF2F7;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
/* .dev:hover {
    border: 1px solid blue;
  } */
.inpt{
    background-color: #EBF2F7;
    border: 0;
    width: 110px;
    padding: 0 10px;
}
.inpt:focus{
    outline: none;
}
.drop{
    background-color: #EBF2F7;
    border: 0;
    max-width: 115px;
}
.white_space{
    white-space: nowrap;
}
.rds th:first-child {
    border-radius: 12px 0 0 12px;
}
.rds th:last-child {
    border-radius: 0px 12px 12px 0px;
}
#content{
    display: none;
}
.scroller{
    height: 500px;
    overflow-y:  scroll;
}
/* width */
.scroller::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
.scroller::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 5px;
    border: 2px solid E9E9E9 !important;
  }
.table-bordered{
    border: 1px solid black;
}
.btn-bg-1{
    background-color: #FAB8AF;
}
.rds-1 th:first-child {
    border-radius: 12px 0 0 0px;
}
.rds-1 th:last-child {
    border-radius: 0px 12px 0px 0px;
}
.drop.dropdown-toggle::after{
    position: absolute;
    right: 10px;
    top: 17px;
}
@media screen and (max-width: 570px) {
    .inpt{
        width: 100%;
    }
}
  @media screen and (max-width: 480px) {
    .font-14{
        font-size: 12px;
    }
  }

  /* ## Invoice  */



  .mycontainer{
    max-width: 1270px;
    width: 100%;
    padding: 20px 70px;
    margin: auto;
}

.hero-main{
   border: 1px solid #000;
}

.form-main{
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #000;
}

.form-main .form-input{
    width: 100%;
    width: calc(30% - 12px);
    margin: 0 6px;
}

.form-main .form-input .d-img{
    display: none;
}

.place-form{
    width: calc(70% - 6px);
    margin: 0 3px;
}

.form-main .place-inputs{
    border: 1px solid #000;
    display: flex;
    /* align-items: center; */
}

.form-main2{
    display: flex;
    align-items: center;
    width: calc(50% - 3px);
    margin: 0 0 3px;
    padding: 10px 0 0px 10px;
    border-right: 1px solid #000;
}

.form-head h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.main-inputs{
    display: flex;
    align-items: center;
}

.myInput{
    border: none;
    border-bottom: 1px solid #000;
    max-width: 40px;
    padding: 7px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.img-prev{
    width: 100%;
    height: 100%;
    max-width: 100px;
    border: 1px solid #000;
    border-radius: 20px;
}

.form-main3{
    width: calc(50% - 3px);
    margin: 0 0 3px;
    padding: 10px 10px 0px 0px;
}

.span-day span{
    text-align: center;
    display: block;
    font-weight: 600;
    margin-top: 3px;
}

.b-right{
    border-right: 1px solid #000;
    padding:0 1px;
}

.span-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.span-flex span{
    min-width: 80px;
    text-align: center;
}

.my-input{
    border: none;
    border-bottom: 1px solid #000;
    min-width: 250px;
    text-align: center;
 }

 .storm{
     margin-top: 10px;
     display: flex;
     align-items: center;
 }

 .form-main4{
     width: calc(50% - 10px);
     margin: 2px 5px;
 }

 input[type=text]::placeholder{
    color: lightgrey;
 }

 input[type=text]:focus{
    outline: none;
 }

 .table-main table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-main{
    padding: 7px;
    display: flex;
    align-items: baseline;
}
.table-main table tr th{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 7px;
    border: 1px solid #000;
}

.table-main table tr td{
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
}

 .table-main .table-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-main .table-cr{
    width: calc(50% - 12px);
    margin: 0 6px;
}

.tech{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
}

.tech-main{
    width: 100%;
    width: calc(50% - 6px);
    margin: 0 3px;
    padding: 10px;
    display: flex;
    min-height: 70px;
}

.tech-main h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.tech-main p{
    font-size: 20px;
    margin-left: 30px;
    font-weight: 400;
    line-height: 1;
}

.table-cr .main-panel{
    width: 350px
}

.cr-fax{
    border-bottom: 1px solid #000;
    padding: 12px;
}

.cr-fax .cr-name{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.cr-fax .cr-name  label{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.cr-fax .cr-name .cr-main{
   display: flex;
   align-items: center;
}

.cr-fax .cr-name .cr-main2{
   display: flex;
   align-items: center;
   margin-left: 10px;
}

.cr-fax .cr-name  label{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.cr-fax .cr-name .cr-main{
   display: flex;
   align-items: center;
}

.cr-fax .cr-name .cr-main .cr-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 400px;
    font-size: 18px;
    padding: 3px 0 0 5px;
}

.cr-fax .cr-name .cr-main2 .cr-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 170px;
    font-size: 18px;
    line-height: 1;
    padding: 3px 0 0 15px;
}

.cr-main2 span{
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
}

.cr-name .cr-main .city-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 200px;
    font-size: 18px;
    padding-left: 20px;
}

.cr-name .cr-main .state-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 150px;
    font-size: 18px;
    text-align: center;
}

.cr-name .cr-main .zip-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 150px;
    font-size: 18px;
    text-align: center;
}

.customer-sec{
    border-bottom: 1px solid #000;
    padding: 12px;
}

.customer-sec .heading-info h4{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
}

.customer-sec .custom-head{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.customer-sec .custom-head .custom-main .cr-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
    width: calc(100% - 125px);
}

.customer-sec .custom-head .custom-main .cr-input2{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
    width: calc(100% - 120px);
}

.customer-sec .custom-head .custom-main label{
    font-size: 20px;
    line-height: 1.2;
    max-width: 130px;
}

.customer-sec .custom-head .custom-main .name-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
}

.customer-sec .heading-info{
    width: calc(50% - 4px);
    margin: 0 2px;
    display: flex;
    align-items: center
}

.customer-sec .custom-main{
    width: calc(50% - 4px);
    margin: 0 2px; 
    display: flex;
    align-items: center;
}

.customer-sec .custom-head .custom-main2 label{
    font-size: 20px;
    line-height: 1.2;
}

.customer-sec .custom-head .custom-main4 label{
    font-size: 20px;
    line-height: 1.2;
}

.customer-sec .custom-main2{
    width: calc(70% - 4px);
    margin: 0 2px; 
    display: flex;
    align-items: center;
}

.customer-sec .custom-main4{
    width: calc(30% - 4px);
    margin: 0 2px; 
    display: flex;
    align-items: center;
}

.customer-sec .custom-head .custom-main2 .ad-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
}

.customer-sec .custom-head .custom-main4 .z-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
}

.customer-sec .custom-head .custom-main5 label{
    font-size: 20px;
    line-height: 1.2;
    max-width: 195px;
}

.customer-sec .custom-head .custom-main6 label{
    font-size: 20px;
    line-height: 1.2;
}

.customer-sec .custom-main5{
    width: calc(60% - 4px);
    margin: 0 2px;
    display: flex;
    align-items: center;
}

.customer-sec .custom-main6{
    width: calc(40% - 4px);
    margin: 0 2px;
    display: flex;
    align-items: center;
}

.customer-sec .custom-head .custom-main5 .af-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
    width: calc(100% - 195px);
}

.customer-sec .custom-head .custom-main6 .cl-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
    width: calc(100% - 70px);
}

.customer-sec .custom-head2 .vehicle-info h4{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
}

.customer-sec .custom-head2 {
    display: flex;
    align-items: center;
    
}

.customer-sec .custom-head2 .vehicle-vin{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 10px 10px 3px 10px;
}

.customer-sec .custom-head2 .vehicle-vin .num-input{
    border: none;
    max-width: 46px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.customer-sec .custom-head2 .vehicle-number{
    display: flex;
    align-items: center;
}

.customer-sec .custom-head2 .vehicle-info{
    max-width: 190px;
}

.customer-sec .custom-head2 .vehicle-vin{
    width: calc(100% - 190px);
    margin: 5px;
}

.customer-sec .custom-head .make-year{
    display: flex;
    align-items: center;
    width: calc(60% - 12px);
    margin: 0 6px;
}
.customer-sec .custom-head .make-year .custom-main .year-input{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
}

.customer-sec .custom-head .make-year2{
    display: flex;
    align-items: center;
    width: calc(40% - 12px);
    margin: 0 6px;
}
.customer-sec .custom-head .make-year2 .check-div{
    width: calc(50% - 12px);
    margin: 8px 6px;
}

/* start Pagination */
.active2>.page-link,
.page-link.active2 {
    z-index: 3;
    color: #fff;
    background-color: #EB7E70;
    border-color: #EB7E70;
}

.pagination .page-item .page-link {
    border-radius: 40px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
}

.pagination .page-item .page-link {
    color: #da9f97;
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
    color: #EB7E70;
}

.pagination .page-item.active2 .page-link,
.pagination .page-item.active2 .page-link:focus {
    color: #fff;
}

.mdi:before,
.mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdi-chevron-double-left::before {
    content: "\27F5";
}

.mdi-chevron-double-right::before {
    content: "\27F6";
}

.LiDisable {
    pointer-events: none;
}

.LiDisable:first-child {
    color: #dee2e6;
}
/* End Pagination */