{% load static %} {% include 'backoffice/sidebar.html' %}

<div class="right-content ms-auto px-md-4" style="background-color: #e5f1f0 !important;">
  <div class="area-height">
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <div class="left">
        <h2>Add Vehicle</h2>
        <p>We'll employ these requirement details to accurately track your Vehicle.</p>
    </div>
</div>
<form class="mt-2" id="vehicleForm" method="post" enctype="multipart/form-data">
    {% if messages %}
        <div class="messages mt-2 mb-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="d-flex justify-content-between">

        <h4>Vehicle Details</h4>
        <div class="right p-3">
            <button type="submit" id="aupdate-btn" class="btn btn-secondary">Update Vehicle</button>
        </div>
    </div>    
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    <div class="d-flex flex-column">
                    <label for="">Vehicle Type</label>
                    <select name="type" class="form-control">
                        {% for vehicle_type in vehicle_types %}
                        <option {% if vehicle.type == vehicle_type.0 %} selected {% endif %} value="{{vehicle_type.0}}">{{vehicle_type.1}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
                </div>

                <div class="col-4">
                    <div class="d-flex flex-column">
                    <label for="">Vehicle Number</label>
                    <input required type="text" name="number" value="{{vehicle.number}}" class="form-control">
                </div>
                </div>

                <div class="col-4">
                    <div class="d-flex flex-column">
                    <label for="">Daily Rent</label>
                    <input required type="number" name="rent" value="{{vehicle.rent}}" class="form-control">
                </div>
                </div>

                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Licensee Number</label>
                    <input required type="text" name="lic_number" value="{{vehicle.lic_number}}" id="" class="form-control">
                </div>
                </div>


                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Registration ID</label>
                    <input required type="text" name="res_id" value="{{vehicle.res_id}}" id="" class="form-control">
                </div>
                </div>


                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">No of seats</label>
                    <input required type="number" name="no_of_seats" value="{{vehicle.no_of_seats}}" id="" class="form-control">
                </div>
                </div>

                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Year</label>
                    <input required type="text" name="year" value="{{vehicle.year}}" id="" class="form-control">
                </div>
                </div>


                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Make</label>
                    <input required type="text" name="make" value="{{vehicle.make}}" id="" class="form-control">
                </div>
                </div>



                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Model</label>
                    <input required type="text" name="model" value="{{vehicle.model}}" id="" class="form-control">
                </div>
                </div>
                

                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Fuel Type </label>
                    <select name="fuel_type" value="" class="form-control" id="fuel_type">
                        {% for fuel_type in fuel_types%}
                        <option {% if vehicle.fuel_type == fuel_type.0 %} selected {% endif %} value="{{fuel_type.0}}">{{fuel_type.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>


                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Transmission Type </label>
                    <select name="transmission_type" value="" class="form-control">
                        {% for transmission_type in transmission_types%}
                        <option {% if vehicle.transmission_type == transmission_type.0 %} selected {% endif %} value="{{transmission_type.0}}">{{transmission_type.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>


                <div class="col-4 mt-3">
                    <div class="d-flex flex-column">
                    <label for="">Mileage</label>
                    <input required type="number" value="{{vehicle.mileage}}" name="mileage" id="" class="form-control">
                </div>
                </div>
            </div>
            <div class="row mt-3" id="images_row">
                <div class="col-2 mt-4 uploaded-images d-none" id="add-new-image">
                    <img src="" width="150px" id="new-uploaded-image" height="150px" style="object-fit: cover;" alt="">
                </div>
                {% for image in images %}
                <div class="col-2 mt-4 uploaded-images">
                    <img src="{{image.image.url}}" width="150px" height="150px" style="object-fit: cover;" alt="">
                </div>
                {% endfor %}
                <div class="col-2">
                        <h6 class="fw-bold">Upload Image</h6>
                        <label for="fileImg" class="form-label">
                          <div id="uploadBox" class="upload-box d-flex justify-content-center align-items-center">
                            <i id="upload-icon" class="fa-solid fa-arrow-up-from-bracket"></i>
                            <img src="" width="100" height="100" id="set-img" class="d-none" style="object-fit: cover;" alt="">
                        </div>
                        <p id="dp_error" class="error_message"></p>
                        </label>
                    </div>
                </div>
                <input  hidden onchange="loadFile2(event)" class="form-control shadow-none" type="file" name="images" id="fileImg" style="width: 200px;" accept="image/*">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    activeTab("vehicles")
    function loadFile2(event) {
        const imagesRow = document.getElementById("add-new-image");
        let new_image = document.getElementById("new-uploaded-image")
        const file =  URL.createObjectURL(event.target.files[0])
        new_image.src = file
        imagesRow.classList.remove("d-none")
    }
  </script>
<style>
    .upload-box{
    width: 150px;
    height: 150px;
    border: 1px dashed black;
    background-color: white;
}
</style>
</html>