{% load static %}
{% include 'backoffice/sidebar.html' %}
        
            <!-- ===== right content ======== -->
            <div class="right-content ms-auto px-md-4" style="background-color: #e5f1f0 !important;">
                <div class="area-height">
                    <div class="container-fluid">
                        <div class=" mt-4 table-responsive main-table2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <h1>Vehicle List</h1>
                                        <p>Your all vehicles are listed bellow.</p>
                                    </div>
                                    <div class="p-3">
                                        <a href="/back-office/add-vehicle/" class="btn-secondary btn text-white">Add Vehicles</a>
                                    </div>
                        </div>
                            <table class="table " style="border-collapse: unset;">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-nowrap text-black border-0">Owner</th>
                                        <th class="p-3 text-nowrap text-black border-0">category</th>
                                        <th class="p-3 text-nowrap text-black border-0">Vin</th>
                                        <th class="p-3 text-nowrap text-black border-0">License Plate Number</th>
                                        <th class="p-3 text-nowrap text-black border-0">Daily Rent</th>
                                        <th class="p-3 text-nowrap text-black border-0">Make</th>
                                        <th class="p-3 text-nowrap text-black border-0">Model</th>
                                        <th class="p-3 text-nowrap text-black border-0">Year</th>
                                        <th class="p-3 text-nowrap text-black border-0">Status</th>
                                        <th class="p-3 text-nowrap text-black border-0">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for vehicle in vehicles %}
                                    <tr>
                                        <td>
                                            <p class="mb-0 ms-2">{% if user == vehicle.owner %} You {% else %} {{vehicle.owner.first_name}} {% endif %}</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.type}}</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.number}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.lic_number}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.rent}} $</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.make}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.model}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.year}}</p>
                                        </td>
                                        
                                        <td>
                                            <p class="mb-0 ms-2">{{vehicle.get_status_display}}</p>
                                        </td>
                                        <td>
                                            <div class="d-flex gap-2 justify-content-center">
                                                <a href="/back-office/view-vehicle/{{vehicle.id}}/" class="btn btn-info">View</a>
                                                <a href="/back-office/edit-vehicle/{{vehicle.id}}/" class="btn btn-success">Modify</a>
                                                <a href="/back-office/vehicles/{{vehicle.id}}/" class="btn btn-danger">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    activeTab("vehicles")
  </script>

</html>